body {background-color: gray;}
label {font-family:'Times New Roman', Times, serif;}
p {font-family:'Times New Roman', Times, serif;}
h1 {font-family:'Times New Roman', Times, serif;
    font-size:larger;
    font-weight: 600}